@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ebebeb;
}
/* Header -----------------------------------*/
header {
    background-color: #EAC926;
}
.main-header-top-bar {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .logo{
    max-width: 150px;
}
.busqueda {
    color: #666;
    padding: 5px;
    text-align: left;
    display: flex;
}
.busqueda input{
    width: 130px;
    height: 30px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    border: none;
}
header div button{
    border-radius: 5px;
    border: none;
}
header div button a i{
    width: 14px;
    height: 20px;
    margin-top: 10px;
    color: #666;
}
.copy-header{
    margin: auto;
    margin-top: 10px;
    font-weight: 400;
}
header ul{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: black;
}
/* Main -----------------------------------*/
.main-navbar{
    display: none;
}
.burger-menu{
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 30px;
    padding: 7px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    margin: auto;
    margin-bottom: 10px;
}
header nav img{
    display: flex;
    align-items: flex-end;
    width: 100vw;
}
main{
    width: 90vw;
    background-color: #ebebeb;
    margin: auto;
}
main section article img{
    width: 100%;
    margin-bottom: 0;
}
.titular{
    font-size: 24px;
    color:#666;
    padding: 10px;
}
.detalles-producto{
    padding: 20px;
    padding-top: 0px;
    display: flex;
    margin-top: -1px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}
main section article i{
    font-size: 16px;
    border: 1px solid #39b54a;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    color: #39b54a;
    position: relative;
    right: -70vw;
    top: -17px;
}
.precio-descuento{
    display: flex;
}
.precio{
    display: flex;
    margin: 0;
    margin-right: 20px;
    font-size: 18px;
}
.descuento{
    display: flex;
    font-size: 16px;
    color: #39b54a;
}
.titulares{
    display:none;
    margin-top: 20px;
    font-size: 20px;
    color: #666;
    font-weight: 400;
}
main article nav{
    background-color: white;
    margin: 0;
}
/* Formulario de Registro -----------------------------------*/
.formulario{
    padding: 20px 15px;
    display: block;
    flex-direction: column;
    width: 70vw;
    margin: auto;
}
main form h2{
    font-size: 18px;
    margin-bottom: 20px;
}
.items-formulario{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.items-formulario label{
    font-weight: bold;
    margin-bottom: 5px;
}
.items-formulario input{
    height: 30px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 5px;
    border: solid 0.5px grey;
}
#fecha{
    width: 100%;
    background-color: white;
}
.perfil-usuario{
    display: flex;
    height: 33px;
    align-items: center;
    width: 170px;
    justify-content: space-between;
}
.perfil-comprador, .perfil-vendedor{
    display: flex;
    align-items: center;
}
.perfil-usuario input{
    margin-right: 5px;
}
.todas-categorias{
    display:flex;
    flex-direction: column;
}
.items-categorias{
    display: flex;
    align-items: center;
}
.items-categorias input{
    margin-right: 5px;
}
.seleccionar-archivo input{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
p#texto-seleccionar{
    padding-top: 1px;
    text-align: center;
    font-size: 10px;
    color: white;
    font-weight: 100;
}
.seleccionar-archivo{
    height: 14px;
    width: 130px;
    position: relative;
    background-color: #1259c3;
    border-radius: 5px;
}
.botones-b-g{
    display: flex;
    flex-direction: column;
}
#boton-borrar, #boton-guardar{
    text-align: center;
}
#boton-borrar button{
    font-size: 10px;
    font-weight: 100;
    color: white;
    background-color: #cf1919;
    margin: 3px;
    width: 50px;
    height: 17px;
    border-radius: 5px;
    border: none
}
#boton-guardar button{
    font-size: 10px;
    font-weight: 100;
    background-color: #909cce;
    margin: 3px;
    width: 50px;
    height: 17px;
    border-radius: 5px;
    border: none;
    transition-property: background-color, color;
}
#boton-guardar button:hover{
    background-color: #0022AA;
    color: white;
}    
/* Fin Formulario de Registro -----------------------------------*/

/* Footer -----------------------------------*/
footer{
    text-align: center;
    font-size: 16px;
    background-color: white;
}
footer div i{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1259c3;
    font-size: 2em;
}
footer h4{
    font-size: 14px;
}
footer p{
    width: 70vw;
    margin: auto;
}
.copyright{
    margin-top: 30px;
    padding-bottom: 20px;
}

/***************** vista 481px *****************/

@media (min-width: 481px) {
    /* Header -----------------------------------*/
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copy-header{
        padding-top: 0px;
        font-size: 10px;
        margin: 0;
    }
    header .logo{
        max-width: 20vw;
        margin-right: 20px;
    }
    .busqueda input{
        max-width: 20vw;
        height: 15px;
        padding: 0 5px;
        border-radius: 5px;
        border: solid 1px #666;
    }
    .busqueda{
        font-size: 10px;
    }
    header div button{
        border-radius: 5px;
        border: solid 1px #666;
        margin-left: 2px;
    }
    header div button a i{
        width: 12px;
        height: 6px;
        margin-top: 0px;
        color: #666;
        font-size: 8px;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        padding: 5px;
    }
    .main-navbar li a{
        font-size:10px;
    }
    /* Main -----------------------------------*/
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;  
    }
    .titular{
        display: flex;
        width: 100vw;
        padding: 20px;
    }
    main section article{
        width: 40vw;
        flex-direction: column;
        box-shadow : none;
        margin-bottom: 10px;
        transition-property: box-shadow;
        transition-duration: 450ms;
    }
    main section article:hover{
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    main section article img{
        margin-bottom: 0;
    }
    main section article i{
        position: relative;
        right: -85%;
        top: -17px;
        transition-duration: 450ms;
    }
    main section article i:hover{
        transform: rotate(-90deg);
    }
    .detalles-producto{
        width: 40vw;
        margin-bottom: 0px;
    }
    .titulares{
        display:block;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 450ms;        
    }
    .titulares:hover{
        opacity: 1;
    }
    /* Formulario de Registro -----------------------------------*/
    .formulario{
        max-width: 400px;
        margin: auto;
    }
    .items-formulario{
        max-width: 100%;
    }
    /* Fin Formulario de Registro -----------------------------------*/
}

/***************** vista 769px *****************/

@media (min-width: 769px){
    /* Header -----------------------------------*/
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .logo{
        max-width: 25vw;
    }
    .copy-header{
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        padding-top: 0px;
    }
    .busqueda input{
        width: 500px;
        height: 20px;
    }
    .busqueda{
        font-size: 14px;
    }
    header div button a i{
        width: 14px;
        height: 14px;
        margin-top: 4px;
        color: #666;
        font-size: 12px;
    }
    .main-navbar{
        margin-top: 40px;
        padding: 0 10px;
    }
    .main-navbar li{
        margin: 0px;
    }
    .main-navbar ul li a{
        font-size: 16px;
    }
    /* Main -----------------------------------*/
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;  
    }
    .titular{
        display: flex;
        width: 100vw;
        padding: 20px;
    }
    main section article{
        width: 20vw;
        flex-direction: column;
    }
    main section article i{
        font-size: 16px;
        border: 1px solid #39b54a;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        color: #39b54a;
        position: relative;
        left: 15vw;
        top: -25px;
    }
    .detalles-producto{
        width: 20vw;
        padding: 10px;
        height: 130px;
    }
    .precio{
        font-size:14px;
    }
    .descuento{
        font-size:12px;
    }
    .titulares{
        font-size: 14px;
    }
    /* Formulario de Registro -----------------------------------*/
    main form h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .items-formulario label{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .perfil-usuario{
        width: 220px;
    }
    .perfil-comprador, .perfil-vendedor{
        font-size: 16px;
    }
    .items-categorias{
        font-size: 16px;
    }
    p#texto-seleccionar{
        font-size: 14px;
    }
    .seleccionar-archivo{
        height: 18px;
        width: 150px;
        border-radius: 5px;
    }
    #boton-borrar button{
        font-size: 14px;
        font-weight: 100;
        width: 60px;
        height: 21px;
    }
    #boton-guardar button{
        font-size: 14px;
        font-weight: 100;
        width: 60px;
        height: 21px;
    } 
    /* Fin Formulario de Registro -----------------------------------*/
    /* Footer -----------------------------------*/
    .secciones-footer{
        display: flex;
        justify-content: space-around;
    }
    .items-footer{
        width: 27vw;
    }
    footer p{
        width: 100%;
    }
    footer div i{
        color: #1259c3;
        transition-property: color;
    }
    footer div i:hover{
        color: #EAC926;
    }
}